body {
    background-color : white;
    font-family : "Patrick Hand", cursive;
    padding : 20px;
}

.container {
    width : 70%;
    margin : 40px auto;
    background-color : white;
    padding : 30px;
    border : 3px solid black;
    border-radius : 15px;
}

h1{
    font-family : "Comic Sans MS";
    text-align : center;
    border-botton : 2px solid black;
    padding-bottom : 10px;
    margin-bottom : 15px;
    letter-spacing : 1px
}

form {
    margin : 20px 0;
    text-align:center;
}

input {
    border : 2px solid black;
    padding : 8px;
    border-radius : 10px;
    font-size : 16px;
    box-shadow : 2.5px 2.5px 1.25px #888;
}
input:focus {
    outline : None;
    border : 3px solid black;
}

button {
    border : 2px solid black;
    background-color : white;
    padding : 10px 16px;
    cursor : pointer;
    border-radius : 10px;
    font-size : 16px;
    margin-left : 16px;
    box-shadow : 2.5px 2.5px 1.25px #888
}
button:hover {
    background-color : #e0e0e0
    transform : scale(1.05)
}

p {
    border : 2px dashed black;
    padding : 15px;
    margin : 20px 0;
    font-family : "Patrick Hand",cursive;
    font-size : 18px;
    box-shadow : 4px 4px 0 black;
    background-color : #fcfcfc
}

p:nth-child(even) {
    transform : rotate(-1deg);
}

p:nth-child(odd) {
    transofrm : rotate(1deg)
}

.footer {
    text-align : center;
    padding : 8px 12px;
    margin : 20px auto;

}